@use '../abstracts/' as *;

h1,h2,h3{
  color: $black;
}

h1{
  font-size: clamp(2.8rem, 3.5vw , 6rem);
}

h2{
  font-size: clamp(2.4rem, 2.8vw , 3.4rem);
}

h3{
  font-size: clamp(1.7rem, 1.8vw , 1.9rem);
}

p{
  color: $light-color;
  font-size: clamp(1.4rem, 1.5vw , 1.5rem);
  line-height: 2;
}