@use "../abstracts/" as *;
.reviews{
  &__user{
    @include flex(flex-start,center);
    gap: 1rem;
    margin-bottom: 3rem;
  }

  &__stars{
    color: $yellow;
    font-size: 1.3rem;
  }

   &__text{
    background-color: $light-bg;
    padding: 1rem 2rem;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      top: -1rem;
      left: 2rem;
      width:2rem;
      height: 2rem;
      background-color: $light-bg;
      transform: rotate(45deg);
    }
  }

  &__img{
    width: 6rem;
    height: 6rem;
  }
}